Xft.dpi:        144
Xft.autohint:   false
Xft.hinting:    1
Xft.antialias:  1
Xft.hintstyle:  3
Xft.lcdfilter:  lcddefault
Xft.rgba: rgb

! ------------------------------------------------------------------------------
! URxvt
! -----------------------------------------------------------------------------
! see ~/.Xdefaults
